name: Build and deploy

on:
  push:
    branches: [main]
    paths:
      [
        index.html,
        package.json,
        bun.lock,
        vite.config.ts,
        tsconfig.*,
        src/**,
        .github/workflows/publish.yml
      ]
  workflow_dispatch:

concurrency:
  group: dist
  cancel-in-progress: true

jobs:
  build:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Install Bun
        uses: oven-sh/setup-bun@v2.0.2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run build
        run: bun run build

      - name: Upload dist folder
        uses: actions/upload-artifact@v4.6.2
        with:
          name: dist
          path: dist
  deploy:
    needs: build
    permissions:
      contents: read
      deployments: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Download dist artifact
        uses: actions/download-artifact@v5.0.0
        with:
          name: dist
          path: dist

      - name: Deploy to Neocities
        uses: bcomnes/deploy-to-neocities@v3
        with:
          api_key: ${{ secrets.NEOCITIES_API_TOKEN }}
          cleanup: true
          dist_dir: dist
